<h2>Search Results for "<%= params[:search_keywords] %>"</h2>
<% if @games.size.zero? %>
  <p>No products found.</p>
<% else %>
  <p><%= pluralize(@games.size, 'product') %> found.</p>
  <%= render partial: 'game',
             collection: @games,
             locals: { display_game_link: true } %>
<% end %>
